[Sys]:
ListenPort=8000
Sys_log=/data/perl/service/logs/service.log
Sys_log_config=/data/perl/service/etc/log.conf
Version=1.0.0
[Mysql]:
HostIp=10.31.4.44
Port=3306
UserName=root
PassWord=123456
DB=devOps
connects=5
reconnect=5
[Gitlab]:
url=http://gitlab.gustochain.com
token=glpat-7BhFDZ9rFu_V6yKFeLvV
[K8sGitlab]:
api-service=node/api-service
internal-service=node/internal-service
fe=node/fe-service
fingernft-admin-farm=chain/lyrra-mvp-nft-admin
fingernft-api-farm=chain/lyrra-mvp-nft-market
lyrra-club=show/lyrra_club
soundsright-gateway=lyrra/soundright-gateway
soundsright-authorization=lyrra/soundsright-authorization
soundsright-file=lyrra/soundsright-file
soundsright-generate=lyrra/soundsright-generate
soundsright-picgen=lyrra/soundright-picgen
soundsright-settlement=lyrra/soundsright-settlement
soundsright-system=lyrra/soundsright-system
soundsright-transcoding=lyrra/soundsright-transcoding
soundsright-ucenter=lyrra/soundright-ucenter
soundsright-unified-pay=lyrra/soundsright_unified_pay
soundsright-website=lyrra/lyrra-website
soundsright-pay=lyrra/soundright-pay
futuremusic-mvp-api=mvp/FM_MVP
[Mail]:
user=hulixue@gustochain.com
passwd=EvJGgnFJ2DhAw9Z3
addr=smtphm.qiye.163.com
[Vpn]:
officeIp=10.31.4.49
officePasswd=12345678
overseaIp=172.24.1.199
overseaPasswd=12345678
